@import './styles/variables';

.atm-container {
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  border: 2px solid $border-color;
  border-radius: 10px;
  background-color: $container-bg;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  font-family: $main-font;
}